.column{
    width: 15px;
    height: 15px;
    border: 1px solid black;
}
.select{
    background-color: black;
}

.invert td{
    background-color: black;
}

.invert .select{
    background-color: white;
}



